.navbar {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 2rem
}

.logo {
    height: 40px;
    width: auto;
    filter: invert(1);
}

.cart-icon {
    position: relative;
    cursor: pointer;
}

.cart-count {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: red;
    color: white;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 50%;
}

.logo-container {
    flex: 1;
}

.logo {
    height: 40px;
    width: auto;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    
}

.cart-icon {
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart-count {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: red;
    color: white;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 50%;
}

.button {
    background-color: white;
    color: #333;
    padding: 6px 12px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 500px) {
    .button{
            width: 100px;
                height: 37px;
                font-size: 11px;
                padding: 0%;
    }
    .logo{
        height: 31px;
    }
}